<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Development Learn.</title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <script src="vue.js" charset="utf-8"></script>
  <script src="vueComponents.js" charset="utf-8"></script>
  <script src="model.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <body >
    <section>
    <section id='HeaderControls' class='navbar-default'>
      <div class='conteiner-fluid input-group input-group-justified'>
        <div class='btn-group btn-group-justified'>
          <button v-bind:class='class_button' v-on:click='setRoute'>Set Route</button>
          <input class=" col-2" v-model="color" type="color"  > 
          <button v-bind:class='class_button' v-on:click='markOnMap'>Mark Points</button>
          <button v-bind:class='class_button' v-on:click='clearMap'>Clear Map</button>
        </div>
        <input  class='form__input--large' v-model='routePoints' >
        <button v-bind:class='class_button' v-on:click='loadLocations' >capture</button>
    </div>
    </section>
    <!-- <nav class="header__nav">
        <section id="IntBHTrans" class="header__nav__bus">
          <a href="#" v-on:click='load616'>616</a>
          <a href="#" v-on:click='load617'>617</a>
          <input class='form__input--small' v-model="busCode" >
          <button v-bind:class='class_button' v-on:click='Search'>Beta Search</button>
        </section>
    </nav> -->
    </section>

    <section class="aside__content" >
      <aside id='sideArea' class="sideArea" data-spy="scroll">
        <section>
            <add-location v-bind:content='newLocation'></add-location>
        </section>
        <list-message
          v-for='item in locations' v-bind:content="item" v-bind:key='item.id'>
        </list-message>
      </aside>
      <section class="mapArea">
          <div id="map" > </div>
      </section>
    </section>

    <footer class="">
      <a href="https://github.com/rafaelhrezende/webMap" target="_blank">GITHUB</a>
      <a href="https://github.com/rafaelhrezende/webMap/blob/master/README.md" target="_blank">Read ME</a>
    </footer>

    <script src="busInfo.js" charset="utf-8"></script>
    <script src="Integrations\BHTrans.js" charset="utf-8"></script>
    <script src="vueController.js" charset="utf-8"></script>
    <script src="mapController.js" charset="utf-8"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxMzWIsimtbOffUz7lpjGA1M9WzSeylgM&v=3&callback=initMap" charset="utf-8"></script>
  </body>

</html>
