#map {
  height: 85%;
  width: 75%
}
.sideBox{
  float: left;
  height: 90%;
  width: 20%;
padding-right: 1%;
}
.errorbox{
  height: 50%;
  width: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding-top: 1%
}
input{
  width: 100%;

}
button{
  width: 45%;
  height: 5%;
}
