.header {
  height: 10%;
  width: 100%;
  border: double;
}
.header__nav {
  position: relative;
  width: 50%;
  display: inline-block;
  float: right;
}
.header__nav__bus {
  width: 80%;
  display: inline-block;
  float: left;
}
.mapArea {
  height: 100%;
  width: 80%;
  float: right;
  position: relative;
}
#map {
  height: 100%;
  width: 100%;
  overflow: visible;
}
aside {
  display: scroll;
  float: left;
  height: 100%;
  width: 20%;
  border: double;
  overflow-y: scroll;
}
.aside__content {
  width: 100%;
  height: 90%;
  display: flex;
  border: double;
}
input {
  width: 25%;
}
.form__input--large {
  width: 70%;
}
.form__input--small {
  width: 10%;
}
.form__input--short {
  width: 30%;
}
#headerColorInput {
  display: block;
  border: none;
  width: 38px;
  height: 38px;
}
html,
body {
  width: 99%;
  height: 100%;
}
